<div id="connection_status"></div>
<div id="form">

    Create a new room<input type="text" id="new_room_name" ><br>
    <button id="create" onclick="create_room()">Create</button>
   
</div>

<div id="join"> Or else Join a room <input type="text" id="join_room">
<button onclick="join_room" id="join">Join a room</button>
</div>
<div id="rooms"></div>
<script type="application/javascript" src="/js/room.js"></script>
